__pycache__/
*.py[cod]
/datasets/raw/
/datasets/processed/
/datasets/resized/
/datasets/negative/
/datasets/colab_gatekeeper_dataset/
/datasets/colab_gatekeeper_dataset_v3_full/
/datasets/demo_datasets/